@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root, html, body {
  background-color: #111;
  color: #fff;
  font-family: "Space Mono";
  font-size: 28px;
}

* {
  user-select: none;
  overflow: hidden;
  z-index: 1;
}

@keyframes popin {
  0% {
    height: 0;
    padding: 0 0.25em;
  }
  100% {
    height: 2.5em;
    padding: 0.25em;
  }
}

.result {
  --rank: 1;
  --color-1: hsl(calc(var(--rank) * 20deg), min(calc(var(--rank) * 5% + 20%), 90%), 60%);
  --color-2: hsl(calc(var(--rank) * 20deg), min(calc(var(--rank) * 5% + 20%), 90%), 60%, 20%);

  position: relative;
  border-left: 0.25em solid var(--color-1);
  padding: 0.25em;
  margin-bottom: 8px;
  background: linear-gradient(90deg, var(--color-2), #0000);
  animation: popin .5s ease-out;
} 
.result .rank { font-weight: bold; }
.result .rarity { font-size: 0.7em; }
.result .bigrank {
  position: absolute;
  top: 0;
  right: 0.25em;
  font-size: 2em;
  font-weight: bold;
  color: var(--color-1);
  opacity: min(calc(var(--rank) * 0.05 - 0.15), 0.8);
  z-index: 0;
}

#miniresults {
  display: flex;
  flex-direction: column-reverse;
}
#miniresults > .result { font-size: 0.7em; }

#gradient {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#1110, #111);
}

#roll {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 128px;
  height: 128px;
  background: #333 url(icon.svg);
  border: 8px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}